
body {
	background: #f2f2f2;
	padding: 0 0 0 3px;
}

.deck {
	background: #355e3b;
	padding: 10px 0 5px 10px;
}

.card {
	display: inline-block;
	padding: 5px;
	border: 1px solid;
	margin-right: 5px;
	width: 31px;
	text-align: center;
	margin-bottom: 5px;
	background: #FFF;
}

.card.Spades, .card.Clubs {
	color: #000;
}

.card.Hearts, .card.Diamonds {
	color: red;
}

.card.Spades::after {
	content: " ♠";	
}

.card.Clubs::after {
	content: " ♣";	
}

.card.Hearts::after {
	content: " ♥";
}

.card.Diamonds::after {
	content: " ♦";
}

.card::after {
	display: block;
}
